[user]
    email= {{ .email | quote }}
    name=Daylam Tayari
[commit]
    gpgSign=true
[tag]
    forceSignAnnotated=true
[init]
    defaultBranch=main
[push]
    autoSetupRemote=true
[pull]
    rebase=false
[pager]
    diff=delta
    log=delta
    reflog=delta
    show=delta
[interactive]
    diffFilter=delta --color-only --features=interactive
[url "git@github.com:"]
    insteadOf = https://github.com/
{{ if eq (output "sh" "-c" "uname -a | grep -o qubes | tr -d '\n'") "qubes" }}
[gpg]
    program=qubes-gpg-client-wrapper
{{ end }}
